<%= form_for(about_room) do |f| %>
  <% if about_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(about_room.errors.count, "error") %> prohibited this about_room from being saved:</h2>

      <ul>
      <% about_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
